
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 15px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-link{
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-link:hover{
    background-color: #007aff;
}
.link-icon{
    padding-top: 10px;
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
}