
.hero-section{
width: 100%;
height: 100vh;
background: url("../../assets/images/bg.avif") top center;
background-size: auto;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 60px 0;
overflow: hidden;
}

.hero{
position: relative;
z-index: 2;
min-width: 400px;
opacity: 2;
transform: translateZ(0);
transition-timing-function: ease-in-out;
transition-duration: 1s;
transition-property: opacity,transform;
box-sizing: border-box;
background: rgba(5, 13, 24, 0.3);

}

.hero p{
color: #fff;
margin-bottom: 50px;
font-size: 14px;
font-family: "Poppins", sans-serif;
}

.hero p span{
      color: #fff;
      padding-bottom: 4px;
      letter-spacing: 1px;
      /* border-bottom: 3px solid #149ddd; */
      padding: 10px;
}

.mobile-nav-toggle{
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}