
  .sidebar{
    position: fixed;
    top: 70px;
    left: 10px;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    color: white;
    overflow-y: auto;
    }

  .link-container {
    /* border-bottom: 1px solid lightgray; */
    min-height: 100px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
  }
  .sidelink {
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 5px 5px;
    align-items: flex-start;
  }
  .icons:hover{
    background:lightgray;
  }
  .icons:active{
    background:#cccccc;
  }
  .icons{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
  }

  .profile h1{
  font-size: 24px;
margin: 0;
padding: 0;
font-weight: 600;
-moz-text-align-last: center;
text-align-last: center;
font-family: "Poppins", sans-serif;
line-height: 1.2;

  }