
$primary-color:black;
$textColor: #050d18;
$font-size: 16px;
$heading: 18px;
.resume{
    height: 100%;
    margin-left: 330px;
    display: flex;
    flex-wrap: wrap;
    background: #f5f8fd;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 3px;
        border-color: $primary-color;
        color: $textColor;
    }
}
.resume-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}
.resume-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4{
        color: $textColor;
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        margin-bottom: 10px;
    }
    
    .resume-item1{
        display: flex;
        flex-direction: column;
        .company-name{
            @extend h4
        }
        span{
            font-size: $font-size;
            background: #e4edf9;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        h6{
            @extend h4
        }

        ul{
            padding-left: 20px;
        }

        ul li{
            padding-bottom: 2px;
            list-style-type: circle;
            text-align: justify;
        }
    
        .resume-item2{
            @extend .resume-item1
        }
    }
    .company-name{
        @extend h4
    }
    span{
        font-size: $font-size;
        background: #e4edf9;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
    }
    h6{
        @extend h4
    }
    ul{
        padding-left: 20px;
    }
    ul li{
        padding-bottom: 2px;
        text-align: justify
    }

    .resume-item2{
        @extend .resume-item1;
    }
}
.education{
    @extend .resume-item;
    .info{
        text-align: justify;
        line-height: 1.5;
    }
}