.resume {
  height: 100%;
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 3px;
  border-color: black;
  color: #050d18;
}

.resume-item, .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: yellow;
  border: 1px solid black;
}

.resume-item h4, .education h4, .resume-item .resume-item1 .company-name, .education .resume-item1 .company-name, .resume-item .resume-item2 .company-name, .education .resume-item2 .company-name, .resume-item .resume-item1 h6, .education .resume-item1 h6, .resume-item .resume-item1 .resume-item2 h6, .education .resume-item1 .resume-item2 h6, .resume-item .resume-item2 h6, .resume-item .resume-item2 .education h6, .education .resume-item .resume-item2 h6, .resume-item .education .resume-item2 h6, .education .resume-item2 .resume-item h6, .education .resume-item2 h6, .resume-item .company-name, .education .company-name, .resume-item h6, .education h6 {
  color: #050d18;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.resume-item .resume-item1, .education .resume-item1, .resume-item .resume-item1 .resume-item2, .education .resume-item1 .resume-item2, .resume-item .resume-item2, .resume-item .education .resume-item2, .education .resume-item .resume-item2, .education .resume-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume-item .resume-item1 span, .education .resume-item1 span, .resume-item .resume-item1 .resume-item2 span, .education .resume-item1 .resume-item2 span, .resume-item .resume-item2 span, .resume-item .education .resume-item2 span, .education .resume-item .resume-item2 span, .education .resume-item2 span {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume-item .resume-item1 ul, .education .resume-item1 ul, .resume-item .resume-item1 .resume-item2 ul, .education .resume-item1 .resume-item2 ul, .resume-item .resume-item2 ul, .resume-item .education .resume-item2 ul, .education .resume-item .resume-item2 ul, .education .resume-item2 ul {
  padding-left: 20px;
}

.resume-item .resume-item1 ul li, .education .resume-item1 ul li, .resume-item .resume-item1 .resume-item2 ul li, .education .resume-item1 .resume-item2 ul li, .resume-item .resume-item2 ul li, .resume-item .education .resume-item2 ul li, .education .resume-item .resume-item2 ul li, .education .resume-item2 ul li {
  padding-bottom: 10px;
}

.resume-item span, .education span {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume-item ul, .education ul {
  padding-left: 20px;
}

.resume-item ul li, .education ul li {
  padding-bottom: 10px;
}
/*# sourceMappingURL=resume.css.map */