
.nav-container{
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    height: 56px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    
}



.nav-container:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

